rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Helper function to check if user is an admin
    function isAdmin() {
      return request.auth != null && firestore.exists(/databases/(default)/documents/admins/$(request.auth.uid)) && firestore.get(/databases/(default)/documents/admins/$(request.auth.uid)).data.isActive == true;
    }

    match /products/{imageId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
